environment:
  global:
    CIBW_SKIP: pp* *ppc64le *aarch64 *s390x *win_arm64
    CIBW_PRERELEASE_PYTHONS: False

    CIBW_TEST_COMMAND: "pytest {project}/test"
    CIBW_TEST_REQUIRES: pytest numpy
    
    # test error in musllinux
    # buliding numpy for test takes too long time for cp310-win*
    CIBW_TEST_SKIP: cp310-win* cp*musllinux_*

  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: macos-bigsur
      APPVEYOR_JOB_NAME: "python37-macos-bigsur-1"
      CIBW_BUILD: cp311-macosx_universal2 cp312-macosx_universal2 cp313-macosx_universal2
      OSX_ARCHITECTURES: universal2
      CIBW_CMD_OPTION: --archs universal2
      CIBW_VERSION: 2.22.0
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      APPVEYOR_JOB_NAME: "python37-vs2017-4"
      CIBW_BUILD: cp313-win_amd64 cp313-win32
      CIBW_VERSION: 2.22.0
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      APPVEYOR_JOB_NAME: "python37-ubuntu-7"
      CIBW_BUILD: cp313-*
      CIBW_CMD_OPTION:
      CIBW_VERSION: 2.22.0
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: macos-bigsur
      APPVEYOR_JOB_NAME: "python37-macos-bigsur-1-arm"
      CIBW_BUILD: cp311-macosx_arm64 cp312-macosx_arm64 cp313-macosx_arm64
      OSX_ARCHITECTURES: arm64
      CIBW_CMD_OPTION: --archs arm64
      CIBW_VERSION: 2.22.0
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: macos-bigsur
      APPVEYOR_JOB_NAME: "python37-macos-bigsur-2"
      CIBW_BUILD: cp39-macosx_universal2 cp310-macosx_universal2
      OSX_ARCHITECTURES: universal2
      CIBW_CMD_OPTION: --archs universal2
      CIBW_VERSION: 2.2.2
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      APPVEYOR_JOB_NAME: "python37-vs2017-2a"
      CIBW_BUILD: cp39-* cp310-* 
      CIBW_VERSION: 2.16.2
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      APPVEYOR_JOB_NAME: "python37-vs2017-3"
      CIBW_BUILD: cp311-win_amd64 cp311-win32 cp312-win_amd64 cp312-win32
      CIBW_VERSION: 2.16.2
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      APPVEYOR_JOB_NAME: "python37-ubuntu-3"
      CIBW_BUILD: cp39-*
      CIBW_CMD_OPTION:
      CIBW_VERSION: 2.2.2
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      APPVEYOR_JOB_NAME: "python37-ubuntu-4"
      CIBW_BUILD: cp310-*
      CIBW_CMD_OPTION:
      CIBW_VERSION: 2.2.2
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      APPVEYOR_JOB_NAME: "python37-ubuntu-5"
      CIBW_BUILD: cp311-*
      CIBW_CMD_OPTION:
      CIBW_VERSION: 2.11.2
      PYBIND11_BRANCH: stable

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      APPVEYOR_JOB_NAME: "python37-ubuntu-6"
      CIBW_BUILD: cp312-*
      CIBW_CMD_OPTION:
      CIBW_VERSION: 2.16.2
      PYBIND11_BRANCH: stable

stack: python 3.11

init:
  - cmd: set PATH=C:\Python38;C:\Python38\Scripts;%PATH%

install:
  - git submodule update --init --recursive

build_script:
  - cmd: cd src\ext\pybind11
  - cmd: git checkout %PYBIND11_BRANCH%
  - cmd: cd ..\..\..
  - cmd: c:\python311-x64\python -m pip install -U pip
  - cmd: c:\python311-x64\python -m pip install cibuildwheel==%CIBW_VERSION%
  - cmd: c:\python311-x64\python -m cibuildwheel --output-dir wheelhouse

  - sh: cd src/ext/pybind11
  - sh: git checkout $PYBIND11_BRANCH
  - sh: cd ../../..
  - sh: python -m pip install -U pip
  - sh: python -m pip install cibuildwheel==$CIBW_VERSION
  - sh: export OSX_ARCHITECTURES=$OSX_ARCHITECTURES
  - sh: python -m cibuildwheel $CIBW_CMD_OPTION --output-dir wheelhouse

artifacts:
  - path: "wheelhouse\\*.whl"
    name: Wheels
